.btnpwd:link, .btnpwd:visited{
    text-decoration: none;
}
.btnpwd:hover{
    text-decoration:underline;
}
body{
    background-image: url(./assets/background.png) !important;
    /* background-color: #111827 !important; */
    background-size: auto;
    opacity: 0.9;
}
.card{
    box-shadow: 5px 5px 8px #111827;
}
.topnav .logo{
	background-color: #ddd;
	color: #000000;
    border-radius: 3px;
}
.topnav{
    background-color: transparent !important;
    opacity: 0.9;
}
.topnav:hover{
    opacity: 1;
}
.signup{
    font-weight: 500;
}
.forgetnav{
    margin-bottom: 5rem !important;
}
.forgetfooter{
    margin-top: 5rem !important;
}
.footer {
    max-width: 100%;
	overflow: auto;
	background-color: #0b101a;
    opacity: 0.9;
}
.footer, .footer a {
	color: #999;
	font-size: 0.9rem;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
    color: #999;
}